# Dependencies
node_modules/
vendor/
.venv/

# Build outputs
dist/
build/
out/

# IDE & Editors
.vscode/
.idea/
*.swp

# Environment & Secrets
.env
*.key

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log   